<div class="container d-flex align-items-center justify-content-center h-100">
    <div class="Signup-container d-flex h-100">
        <div class="Signup-image-container flex-shrink-1">
            <div id="carouselExampleAutoplaying" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="2000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/assets/Signup/model_1.jpg" class="d-block w-100" alt="Shoes">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/Signup/model_2.jpg" class="d-block w-100" alt="cloths">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/Signup/model_3.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/Signup/model_4.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <div class="Signup-form-container d-flex align-items-center justify-content-center flex-column flex-grow-1">
            <div class="welcomeCont ">
                <div class="fs-2 welcomehead">HI THERE!</div>
                <div class=".fs-6 welcomText">Register now to explore all the feature and to see what's new</div>
            </div>
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form-sec w-100 h-100" autocomplete="off">
                <div class="form-group">
                    <label for="name" class="px-2 label">Name</label>
                    <input type="text" id="name" formControlName="name" class="form-control inputSec w-100" required>
                </div>
                <div class="form-group">
                    <label for="email" class="px-2 label">Email</label>
                    <input type="text" id="email" formControlName="email" class="form-control inputSec w-100" required>
                </div>
                <div class="form-group">
                    <label for="password" class="px-2 label">Password</label>
                    <input type="password" id="password" formControlName="password" class="form-control inputSec w-100"required>
                </div>
                <div class="bottomSec d-flex align-items-center justify-content-between">
                    <div class="regSec d-flex align-items-center justify-content-center flex-column">
                        <span>Already have a account?</span>
                        <a href="" class="label" style="text-decoration:none;">Login  <<span
                                style="color: rgb(127, 127, 127);"><</span> <span
                                style="color:rgb(87, 87, 87);"><</span></a>
                    </div>
                    <button type="submit" class="btn signupbtn" [disabled]="signupForm.invalid">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>